  ion-content {
      --background: none;
      background: linear-gradient(to bottom, #7c7c7c21, #2a2635ea), url("/assets/images/get_started.jpg") no-repeat top center;
    //   background-image: url("/assets/images/get_started.jpg");
      background-position: top center;
      max-width: 100%;
      max-height: auto;
      background-repeat: no-repeat;
      background-size: cover;
     
  }



  .top-content {
      flex: 2;
      display: inline-flex;
      align-items: flex-end;
  }

  .footer-content {
      flex: .75 !important;

  }